@import 'primeicons/primeicons.css';
:root {
  --main_background_color: #111827;
  --input_background_color: #192338;
  --sidebar_background_color: #0D121B;
  --color_grey_icon: #B4B4B4;

  // border
  --border_radius: 8px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--main_background_color);
  font-family: 'Segoe UI', sans-serif;

}

.workspace{
  display: grid;
  grid-template-columns: 15% 85%;
}
.pi{
  cursor: pointer;
}
button{
  cursor: pointer;
}