.workspace_block {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 2% 0 1%;
  flex-direction: column;
  
  // position: relative;
}

.block_answer {
  height: 90%;
  padding: 6% 0;
  overflow-y: auto; /* Прокрутка содержимого, если оно превышает высоту блока */
}

.search_block {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.search_block textarea {
  width: 100%;
  padding: max(15px, 1vh);
  border-radius: var(--border_radius);
  background: var(--input_background_color);
  border: none;
  color: var(--grey-100);
  resize: none;
  font-size: 1.2rem;

}

.search_block textarea:focus {
  outline: none;
}

.search_block textarea::placeholder {
  font-size: 1rem;
  margin: 0 auto;
}

.search_block button {
  position: absolute;
  right: 0.8rem; /* Отступ от правого края инпута */
  background: var(--button_background_color);
  padding: 0.4rem; /* Размер кнопки */
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.5s ease;
  &:hover{
    background: var(--gray-500);
  }
}

.search_block button:disabled {
  background: var(--button_background_disabled_color);
}

.active_button {
  color: black;
}

.message {
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
  gap: .6vw;
}

.isUser {
  justify-content: flex-end;
  background: var(--blue-100);
  width: auto;
  margin-left: auto;
  word-wrap: break-word; 
  border-radius: var(--border_radius);
}

.message-content {
  padding: .8% 2%; 
  word-wrap: break-word; 
  box-sizing: border-box; 
}


.sircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Ширина и высота круга */
  height: 40px; /* Ширина и высота круга */
  border-radius: 50%; /* Закругление до круга */
  border: 1px solid #4e4e4e; /* Толщина и цвет бордера */
  margin-right: 10px; /* Отступ справа */
  flex-shrink: 0; /* Запрещает уменьшать размер элемента */
}

.pi-microchip-ai {
  font-size: 1rem; /* Размер иконки */
}


code p {
  width: 0;
  margin-right: 5px;
  overflow: hidden;
  border-right: 2px solid transparent;
  white-space: nowrap;
}

.typingEffect__line1 {
  animation: typing 2s steps(30) forwards, blink 1s 3;
}

.typingEffect__line2 {
  animation: typing 2.5s steps(35) 3s forwards, blink 1s 3s 3;
}

.typingEffect__line3 {
  animation: typing 0s 6s forwards, blink 1s 6s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%, 45% {
    border-color: transparent;
  }
  50%, 100% {
    border-color: white;
  }
}

.description{
  text-align: center;
  font-size: 12px;
  color: var(--gray-300);
  margin-top: 1%;
}


.loader {
  width: 90px;
  height: 24px;
  padding: 2px 0;
  box-sizing: border-box;
  display: flex;
  animation: l5-0 3s infinite steps(6);
  background:
    linear-gradient(#111827 0 0) 0 0/0% 100% no-repeat,
    radial-gradient(circle 3px,#eeee89 90%,#0000) 0 0/20% 100%
    transparent;
  overflow: hidden;
}
.loader::before {
  content: "";
  width: 20px;
  transform: translate(-100%);
  border-radius: 50%;
  background: #ffff2d;
  animation: 
    l5-1 .25s .153s infinite steps(5) alternate,
    l5-2  3s        infinite linear;
}
@keyframes l5-1{ 
    0% {clip-path: polygon(50% 50%,100%   0,100% 0,0 0,0 100%,100% 100%,100% 100%)}
  100% {clip-path: polygon(50% 50%,100% 65%,100% 0,0 0,0 100%,100% 100%,100%  35%)}
}
@keyframes l5-2{ 
  100% {transform: translate(90px)}
}
@keyframes l5-0{ 
  100% {background-size:120% 100%,20% 100%}
}